<!DOCTYPE html>
<html Lang="pt-br">
  	<head >
		<meta charset="UTF-8">
		<meta name="description" content="desenvolvimento web e cybersegurança">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<title>Portfólio Ana Moraes</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/alert.js') }}"></script>
	</head>
	<body>
		<header></header>
		{% block conteudo %}
		{% endblock conteudo %}
		<footer></footer>
	</body>
</html>